.main-container {
  width: 30%;
  margin: 0 auto;
  margin-top: 90px;
  justify-content: center;
}
.search-input {
  width: 100%;
  padding: 10px;
}

#suggestion-area {
  margin-top: 10px;
  border: 1px solid gainsboro;
  min-height: 200px;
  position: relative;
  display: none;
}
